process {
    memory = { 4.GB * task.attempt }
    withName: Bet_T1 {
        memory = { 5.GB * task.attempt }
    }
    withName: DTI_Metrics {
        memory = { 5.GB * task.attempt }
    }
    withName: Extract_FODF_Shell {
        memory = { 5.GB * task.attempt }
    }
    withName: Register_T1 {
        memory = { 5.GB * task.attempt }
    }
    withName: Register_Freesurfer {
        memory = { 5.GB * task.attempt }
    }
    withName: Segment_Freesurfer {
        memory = { 5.GB * task.attempt }
    }
    withName: FODF_Metrics {
        memory = { 20.GB * task.attempt }
    }
    withName: PFT_Tracking {
        memory = { 10.GB * task.attempt }
    }
    withName: Local_Tracking {
        memory = { 10.GB * task.attempt }
    }
}

